body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background: #f1f3f6;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}

.navbar {
  background: #2874f0;
  color: white;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}